{% extends "base.html" %}
{% block main_content %}
    {% if trackers|length == 0 %}
    <div>
        <a href="{{ url_for('create_tracker', userid=userid) }}" type="button" class="btn btn-secondary btn-lg">Add a Tracker</a>
    </div>
    {% else %}
    <div>
        <h1>Your Trackers</h1>
        <table class="table table-hover">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Last Tracked</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for tracker in trackers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <th scope="row"><a href="{{ url_for('trackers', trackerid=tracker.trackerid) }}" class="link-primary">{{ tracker['trackername'] }}</a></th>
                    <td>{{ tracker['lastseen'] }}</td>
                    <td><a href="{{ url_for('logs', trackerid=tracker.trackerid) }}" type="button" class="btn btn-success btn-sm">Add Log</a></td>
                    <td><a href="{{ url_for('tracker_update', trackerid=tracker.trackerid) }}" type="button" class="btn btn-secondary btn-sm">Edit Tracker</a></td>
                    <td><a href="{{ url_for('tracker_delete', trackerid=tracker.trackerid) }}" type="button" class="btn btn-danger btn-sm">Delete Tracker</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      <div class="text-center">
        <a href="{{ url_for('create_tracker', userid=userid) }}" type="button" class="btn btn-dark btn-md">Add a Tracker</a>
      </div>
    </div>
    {% endif %}
{% endblock main_content%}
