{% extends "base.html" %}
{% block main_content %}
    {% if trackers|length == 0 %}
    <div>
        <a href="{{ url_for('create_tracker', userid=userid) }}" type="button" class="btn btn-secondary btn-lg">Add a Tracker</a>
    </div>
    {% else %}
    <div>
        <h1>Your Trackers</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Last Tracked</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for tracker in trackers %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ tracker['trackername'] }}</td>
                    <td>{{ tracker['lastseen'] }}</td>
                    <td><a href="#" type="button" class="btn btn-success btn-sm">Add Log</a></td>
                    <td><a href="#" type="button" class="btn btn-info btn-sm">Edit Tracker</a></td>
                    <td><a href="#" type="button" class="btn btn-danger btn-sm">Delete Tracker</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

        <a href="{{ url_for('create_tracker', userid=userid) }}" type="button" class="btn btn-secondary btn-lg">Add a Tracker</a>
    </div>
    {% endif %}
{% endblock main_content%}
